/*ESERCIZIO 1) Crea un selettore per selezionare l'<h1> nella sezione "hero", ovvero nel jumbotron
*/
h1{
   background-color: blueviolet;
}
/*ESERCIZIO 2) Crea un selettore per selezionare tutti i figli dell'elemento navbar
*/
.nav span{
    background-color: aqua;
}
/*ESERCIZIO 3) Crea un selettore per selezionare il link "Continua a leggere" del jumbotron*/
.jumbotron a{
     color: green;
}
/*ESERCIZIO 4) Crea un selettore per selezionare il primo blog post*/
.blog-post:first-of-type{
    color: blue;
}

/*ESERCIZIO 5) Crea un selettore per selezionare l'<hr> del primo blog post e colorarlo di rosso*/
hr{
    background-color: red;
}
/*ESERCIZIO 6) Crea un selettore per selezionare i link pari della navbar???????????????????????????*/

nav span:nth-child(even){
    background-color: blueviolet;
}
/*ESERCIZIO 7) Crea un selettore per selezionare tutti gli <li> della
 prima "ordered-list" della sidebar ("Archivio")*/
 .list-unstyled.mb-0 > li{
    color: blueviolet;
    background-color: burlywood;
 }
 /*ESERCIZIO 8) Crea un selettore per selezionare l'autore del secondo blog post
 */
 .blog-main .blog-post:nth-child(3) .blog-post-meta a{
    font-size: xx-large;
    background-color: hotpink;
 }
 /*ESERCIZIO 9) Crea un selettore per selezionare il secondo <li> della lista del terzo blog post
 */
 .blog-main .blog-post:nth-child(4) ul li:nth-child(2){
    background-color: orange;
 }
 /*ESERCIZIO 10) Crea un selettore per selezionare il link "Torna su" che trovi a 
fondo pagina nell'angolo in basso a destra
 */
 footer + a{
    background-color: rgb(160, 144, 176);
 }
 /*ESERCIZIO 11) Crea un selettore per selezionare il bottone "Nuovi" che trovi in basso
 */
 .blog-pagination a:last-child{
    background-color: green;
 }
 /*

ESERCIZIO 12) Crea un selettore per selezionare il secondo link del footer**/
.blog-footer .text-center a:last-of-type{
    background-color: red;
}